<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Impresiòna
			{% endblock %}
		</title>
		<link
		href="{{ asset('imagenes/logo.png') }}" rel="icon">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{# <header>
				{% block header %}
					{{ include ('menu.html.twig') }}
				{% endblock %}
			</header> #}
			{% block contenido %}{% endblock %}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>